<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}MuApp{% endblock%}</title>
    {% load static %}

<link rel="stylesheet" href="{% static 'myapp/css/global.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'myapp/css/bootstrap-theme.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'myapp/css/bootstrap-theme.css' %}" type="text/css">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            {% block body%}
            {% endblock %}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>

</body>
<script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'myapp/js/bootstrap.js' %}"></script>
<script src="{% static 'myapp/js/jquery.js' %}"></script>
</html>