body{

    background: url("../images/01-heading.jpg");
    width:100%;
    height:100vh;


}
.form-border{

    border:0px solid white;
    padding:50px 60px;
    -webkit-box-shadow: 5px 8px 46px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 8px 46px 7px rgba(0,0,0,0.75);
    box-shadow: 5px 8px 46px 7px rgba(0,0,0,0.75);

}
